@use '@shared/styles/variables';
@use '@shared/styles/mixins';

.button {
  border-radius: 100px;
  // TODO: add to variables
  color: #42567A;
  // TODO: add to variables
  border: 1px solid #42567A;

  @include mixins.flex-center

}