@use 'sass:map';
@use "@shared/styles/variables";
@use '@shared/styles/utils';
@use '@shared/styles/mixins';

.page {
  @include utils.container;
  
  height: 100vh;
  border-left: .125rem solid variables.$black-blue_20;
  border-right: .125rem solid variables.$black-blue_20;
  
  margin-right: 8.333vw; // 160px на 1920px экране
  margin-left: 16.667vw; // 320px на 1920px экране
  
  max-inline-size: calc(100% - 24vw); // 8.333 + 16.667 = 25vw
  
  padding-top: 10.625rem;
  padding-left: map.get(variables.$spacers, 20);
  padding-right: map.get(variables.$spacers, 20);

  @include mixins.respond-to-max(md) {
    margin-right: auto;
    margin-left: auto;

    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }

  position: relative;
  
  &::before, &::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  &::before {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-50%);
  }
  
  &::after {
    left: 0;
    right: 0;
    top: calc(50% - 46px);
    height: 1px;
    transform: translateY(-50%);
  }

  @include mixins.respond-to-max(md) {
    &::before, &::after { 
      content: none;
    }
  }
}
