@use 'sass:map';
@use "@shared/styles/variables";
@use '@shared/styles/utils';
@use '@shared/styles/mixins';

.container {
  @include utils.container;
  
  height: 100vh;
  border-left: .125rem solid variables.$black-blue_20;
  border-right: .125rem solid variables.$black-blue_20;
  
  margin-right: 8.333vw; // 160px на 1920px экране
  margin-left: 16.667vw; // 320px на 1920px экране
  
  max-inline-size: calc(100% - 24vw);

  padding-top: 10.625rem;
  padding-left: map.get(variables.$spacers, 20);
  padding-right: map.get(variables.$spacers, 20);

  @include mixins.respond-to-max(lg) {
      padding-left: map.get(variables.$spacers, 2);
      padding-right: map.get(variables.$spacers, 2);
    }

  @include mixins.respond-to-max(md) {
    max-inline-size: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3.75rem;
    padding-left: map.get(variables.$spacers, 2);
    padding-right: map.get(variables.$spacers, 2);
    border-left: none;
    border-right: none;

    display: flex;
    flex-direction: column;
  }

  position: relative;
  
  &::before, &::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  &::before {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-50%);
  }
  
  &::after {
    left: 0;
    right: 0;
    top: calc(50% - 46px);
    height: 1px;
    transform: translateY(-50%);
  }

  @include mixins.respond-to-max(md) {
    &::before, &::after { 
      content: none;
    }
  }
}


.title {
  font-size: 3.5rem;
  line-height: 3.75rem;
  color: variables.$black-blue;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left:  0 - map.get(variables.$spacers, 20);
    width: 0.5rem;
    height: 7.5rem;
    @include mixins.linear-gradient(
      $direction: bottom,
      $colors: variables.$blue variables.$fucshia-100
    )
  }

  @include mixins.respond-to-max(lg) {
   
    &::before {
      content: none;
      left:  0 - map.get(variables.$spacers, 2);
    }
  }

  @include mixins.respond-to-max(md) {
    font-size: 1.25rem;
    line-height: 1.33rem;

    padding-bottom: 3.5rem;

    &::before {
      content: none;
    }
  }
}



.navigation {
  margin-bottom: 3.125rem;
  @include mixins.respond-to-max(md) {
    order: 1000;
    margin-bottom: 1rem;
  } 


  .mobileController {
    display: none;
    @include mixins.respond-to-max(md) {
      display: flex;
      gap: 0.625rem;

      justify-self: center;
    } 
  }

  .counter { 
    color: variables.$black-blue;
    margin-bottom: 1.25rem;
    
    @include mixins.respond-to-max(sm) {
      margin-bottom: 0.625rem;
    }
  }

  .navigationElements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    align-items: center;
  }

  .buttonContainer {
    display: flex;
    gap: 5rem;

    @include mixins.respond-to-max(sm) {
      gap: 0.5rem;
    }

    .controller {
      height: 3.125rem;
      width: 3.125rem;
      .icon {
        height: 0.75rem;
      }
      
      @include mixins.respond-to-max(sm) {
        height: 1.5625rem;
        width: 1.5625rem;
      }
    }
  }
}