@use "sass:map";
@use '@shared/styles/mixins';
@use "@shared/styles/variables";

.title {
  font-size: 3.5rem;
  line-height: 3.75rem;
  color: variables.$black-blue;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left:  0 - map.get(variables.$spacers, 20);
    width: 0.5rem;
    height: 7.5rem;
    @include mixins.linear-gradient(
      $direction: bottom,
      $colors: variables.$blue variables.$fucshia-100
    )
  }
}